.OuterMaindiv{
    display: flex;
    flex-direction: column;
}
.btn1{
    width: 90px;
    height: 30px;
    border-style: none;
    
}
.footerr{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(231, 225, 225);
}
.navbar-nav{
    display: flex;
    flex-direction: row;
    height: 75px;
}
.nav-item{
    margin-left: 20px;
}
.btn1{
    background-color: orange;
    color: white;
    height: 40px;
    
}
.well{
    margin-top: 20px;
}
.nav-link {
    margin-top: 10px;
}
.bi-list{
    font-size: 30px;
    font-weight: 35px;
}
.see{
    margin-left: 20px;
}
.input1{
    width: 850px;
    height: 35px;
    margin-left: 20px;
}
.jj{
    font-size: 30px;
    font-weight: 45px;
    color: black;
    margin-top: 0px;
    height: 20px;
}

   
.Navlst li{
    margin-left: 5px;
}
.footerlst{
    width: 700px;
    display: flex;
    flex-direction: row;
    margin-right: 120px;
    height: 40px;
}
.footerlst li{
    margin-left: 7px;
    list-style: none;
}
.mod{
    text-decoration: none;
}
.yee{
    width: 20px;
    height: 20px;
}
.sell{
    color:orange;
    font-size: 15px;
    margin-left: 70px;
    width: 170px;
    font-weight: bolder;
}
.left{
    /* border:  2px solid black; */
    background-color: white;
    border-radius: 10px;
}

.statusNav{
    display: flex;
    flex-direction: row;
}

.Navlst{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
}

.contentDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
     width: inherit;
    /* border: 1px solid green; */
    background-color: rgb(231, 225, 225);
    padding-top: 20px;
}

.Leftlst{
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 300px;
    /* border: 1px solid red; */
    justify-content: center;
   
}
.Leftlst li {
    display: flex;
    align-content: center;
    align-items: center;
    margin-top: 20px;

}
.Leftlst img {
   width: 24px;
   height: 24px;
    
}

.leftp{
    /* border:  2px solid gray; */
   
}

.right{
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* border:  3px solid purple; */
    width: 1150px;
    margin-left: 25px;
    justify-content: space-around;
}
.fee{
    background-color: rgb(220, 216, 216);
}

.innerR{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(207, 206, 206);
}
.real{
    border-bottom: 1px solid rgb(207, 206, 206);
}
.real h2{
 margin-left: 20px;
}
.h11{
    color: orangered;
    margin-left: 30px;
    margin-bottom: 6px;
    border-bottom: 2px solid darkorange;
    font-weight: bold;
}
.h12{
    margin-left: 20px;
    font-weight: bold;
}
.GNbTN{
    color: white;
    border-style: none;
     background-color:rgb(19, 240, 19) ;
}

.delList{
    list-style: none;
    display: flex;
    flex-direction: column;

}

.contgp{
    display: flex;
    flex-direction: row;
    /* border: 2px solid  black; */
    
    background-color: white;
    margin-left: -60px;
}

.contgp img {
    width: 100px;
    height: 100px;
}

.cont1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
     width: 1110px;
     border:  2px solid  rgb(231, 225, 225);
     margin-top: 20px;
     border-radius: 10px;
     
}

.cont{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.seeDetails{
    color: orange;
    
}
